*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;  
}

#Principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#P1{
    flex: 3;
    display: flex;  
}
#P2{
    flex: 1;
    background-color: #1a1c1d;
    border: rgb(94, 94, 94) 2px solid;
}

#interfaz{
    margin-left: 4%;
    margin-top: 3%;
    width: 90%;
    height: 90%;
    border:3px solid rgba(56, 56, 56, 0.199);
    -webkit-box-shadow: 12px 18px 16px -12px rgba(0,0,0,0.38);
    -moz-box-shadow: 12px 18px 16px -12px rgba(0,0,0,0.38);
    box-shadow: 12px 18px 16px -12px rgba(0,0,0,0.38); 
    background-color: #B2AEAE;
    overflow: hidden;
}

.Entry{
    border-radius: 5px;
    width: 60%;
    height: 30px;
    color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
}
.Combobox{
    border-radius: 5px;
    width: 60%;
    height: 30px;
    color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
}
.Ajustes{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: auto;
}

.titulo{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    width: 20%;
    margin-left: 7%;
    margin-bottom: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttonConsola{
    width: 90%;
    height: 32px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.buttonConsola:hover{
    background-color: #769ba7;
    color: #fff;
}

#HerramientasDV{
    display: none;
}

#ConfSeccion{
    display: none;
}
   
.AjusteTam{
    text-align: center;
}
.ajusteTam{
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    

}
.EntryTam{
    border-radius: 5px;
    width: 20%;
    height: 30px;
    color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
}
.Seccion{
    margin-top: 2.4%;
    margin-left: 3%;
    top: 0px;
    left: 0px;
    background-color: #C0A275;
    display: inline-block;
    position: absolute;
}